<nav class="navbar navbar-dark bg-dark">
    <h5 class="navbar-text mx-auto" style="color:white;">
      <a href="{{ path('home') }}">
      Maintenance BTP - CESI Le Mans
      </a>
    </h5>
    <button type="button" class="btn btn-outline-primary">Connexion</button>
  </div>
</nav>