<nav class="navbar navbar-dark bg-dark">
    <h5 class="navbar-text mx-auto" style="color:white;">
      <a href="{{ path('home') }}">
          <img src="{{asset('doc/img/CESI.png')}}" style="width: 200px; height: 80px" /> 
      </a>
    </h5>
    <a href="{{ path('utilisateur') }}">
      <button type="button" class="btn btn-outline-primary">Connexion</button>
    </a>
  </div>
</nav>