{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-lg">
            <button type="button" class="btn btn-primary shadow">Voir demandes</button>
        </div>
            <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Choix niveau
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Rez-de-chaussée</a>
                <a class="dropdown-item" href="#">Étage</a>
            </div>
            </div>
        <div class="col-lg">
        <a href="{{ path('ticket') }}">
            <button type="button" class="btn btn-info float-right shadow">Faire demandes</button>
        </a>
        </div>
    </div>
    <br>
    <img src="{{asset('doc/img/rez-de-chaussee.png')}}"/> 
    {{ form_end(form,{'render_rest': false}) }} 
{% endblock %}
